<?xml version="1.0" encoding="UTF-8" ?>   
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.edu.bjut.weichat.dish.dao.TasteOfDishDao">
	<resultMap type="cn.edu.bjut.weichat.core.bo.TasteOfDish" id="tasteResultMap">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="dishId" property="dishId" jdbcType="BIGINT" />
		<result column="tasteId" property="tasteId" jdbcType="BIGINT" />
	</resultMap>

</mapper>