/*********************** 左边菜单栏样式  ***********************/
.leftmenu {
	width: 100px;
	background-color: #eee;
	margin: 0;
}
.leftmenu .leftmenuitem {
	width:100px;
	height:42px;
	/* background: url("../img/menu_sideMenu_button_pressed1.png") no-repeat; */
	background-color: #ffcc33;
	font-size: 20px;
	line-height: 42px;
	text-align: center;
	color: #fff;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-top: 1px solid #FEE6BF;
}

.leftmenu .leftmenuitem.active, .leftmenu .leftmenuitem:active {
	background: url("../img/menu_sideMenu_button_idle1.png") no-repeat;
	background-color: #fff;
	color: #ffcc33;
}



/*********************** 右上角分享图标样式  ***********************/
.bar .btn.pull-right.share {
  border:0;
  width: 37px;
  height: 22px;
  margin-top:13px;
  background: url("../img/shareicon.png") no-repeat;
  outline:0;
}

.bar .btn.pull-right.share:active {
	background: url("../img/shareicon1.png") no-repeat;
}



/************************ 菜品详情样式 ************************/
.content .dishdtl {
	background-color: #fff;
	border-bottom: 1px solid #ddd;
}

.content .dishdtl img {
	margin: 0;
	border-bottom: 1px solid #ddd;
}

.content .dishdtl .dishdtlcont {
	margin:10px 20px 10px 20px;
	color: #000;
	font-size: 20px;
	line-height: 40px;
}

.content .dishdtl .dishdtlcont .dishdtlinfo {
	color: #999;
	border-bottom: 1px solid #eee;
	font-size: 14px;
	line-height: 40px;
}

.dishdtlinfo .recommend {
	background-color: #fe8302;
	width: 50px;
	color: #fff;
	text-align: center;
	line-height: 20px;
	border-radius: 5px;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 30px;
}

.dishdtlinfo .adddish {
	width: 50px;
	height: 50px;
	float: left;
	background: url("../img/dishDetails_add1.png") no-repeat;
}

.dishdtlinfo .adddish.active {
	width: 50px;
	height: 50px;
	float: left;
	background: url("../img/dishDetails_add.png") no-repeat;
}

.dishdtlinfo .adddish.active:active {
	background: url("../img/dishDetails_active1.png") no-repeat;
}

.dishdtlinfo .reducedish {
	width: 50px;
	height: 50px;
	float: left;
	background: url("../img/dishDetails_reduce1.png") no-repeat;
}

.dishdtlinfo .reducedish.active {
	width: 50px;
	height: 50px;
	float: left;
	background: url("../img/dishDetails_reduce.png") no-repeat;
}

.dishdtlinfo .reducedish.active:active {
	background: url("../img/dishDetails_active.png") no-repeat;
}

.orderdishbtn {
	width: inherit;
	background-color: #fe8302;
	height: 45px;
	border: 0;
	border-radius:5px;
	margin: 15px 10px 15px 10px;
	color: #fff;
	line-height: 45px;
	font-size: 18px;
}

.changedtlbtn {
	background-color: #fe8302;
	height: 45px;
	width: 50px;
	border: 0;
	border-radius:5px;
	margin: 5px;
	color: #fff;
	line-height: 45px;
	font-size: 14px;
}

.content .dishdtlbtns {
	background-color: #fff;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	margin-top: 10px;
	padding: 10px 20px 10px 20px;
	color: #999;
}




/************************ 订单详情样式  ************************/
.ordertitle {
	background: transparent;
	font-size: 24px;
	color: #000;
	line-height: 60px;
	text-align: center;
}

.orderdtl {
	background-color: #fff;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	margin-bottom: 7px;
	padding: 5px 20px 10px 20px;
}

.orderdtl .orderdtltitle {
	padding-left: 10px;
	line-height: 40px;
	font-size: 20px;
	border-bottom: 2px solid #eee;
}

.orderdishnm {
	line-height: 20px;
	font-size: 18px;
	color: #999;
}

.ordertotalp {
	float: left;
	line-height: 50px;
	padding-left: 20px;
}

.orderdtlbtn {
	background-color: #fe8302;
	height: 55px;
	border: 0;
	color: #fff;
	font-size: 20px;
}