.leftmenu {
	width: 100px;
	background-color: #eee;
	margin: 0;
}
.leftmenu .leftmenuitem {
	width:100px;
	height:42px;
	/* background: url("../img/menu_sideMenu_button_pressed1.png") no-repeat; */
	background-color: #ffcc33;
	font-size: 20px;
	line-height: 42px;
	text-align: center;
	color: #fff;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-top: 1px solid #FEE6BF;
}

.leftmenu .leftmenuitem.active, .leftmenu .leftmenuitem:active {
	background: url("../img/menu_sideMenu_button_idle1.png") no-repeat;
	background-color: #fff;
	color: #ffcc33;
}