body {
	background-color: #eee;
}

/*********************** 左边菜单栏样式  ***********************/
.leftmenu {
	width: 75px;
	background-color: #eee;
	margin: 0;
}
.leftmenu .leftmenuitem {
	width:75px;
	height:37px;
	/* background: url("../img/menu_sideMenu_button_pressed1.png") no-repeat; */
	background-color: #FE8302;
	font-size: 16px;
	line-height: 37px;
	text-align: center;
	color: #fff;
	/* border-top-left-radius: 5px;
	border-bottom-left-radius: 5px; */
	border-top: 1px solid #FEE6BF;
}

.leftmenu .leftmenuitem.active, .leftmenu .leftmenuitem:active {
	background: url("../img/menu_sideMenu_button_idle1.png") no-repeat;
	background-color: #fff;
	color: #FE8302;
}



/*********************** 右上角分享图标样式  ***********************/
.bar .btn.pull-right.share {
  border:0;
  width: 37px;
  height: 22px;
  margin-top:13px;
  background: url("../img/shareicon.png") no-repeat;
  outline:0;
}

.bar .btn.pull-right.share:active {
	background: url("../img/shareicon1.png") no-repeat;
}



/************************ 菜品详情样式 ************************/
.content .dishdtl {
	background-color: #fff;
	border-bottom: 1px solid #ddd;
}

.content .dishdtl img {
	margin: 0;
	border-bottom: 1px solid #ddd;
}

.content .dishdtl .dishdtlcont {
	margin:10px 20px 10px 20px;
	color: #000;
	font-size: 20px;
	line-height: 40px;
}

.content .dishdtl .dishdtlcont .dishdtlinfo {
	color: #999;
	border-bottom: 1px solid #eee;
	font-size: 14px;
	line-height: 40px;
}

.dishdtlinfo .recommend {
	background-color: #fe8302;
	width: 50px;
	color: #fff;
	text-align: center;
	line-height: 20px;
	border-radius: 5px;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 30px;
}

.adddish {
	width: 50px;
	height: 50px;
	float: left;
	background: url("../img/dishDetails_add1.png") no-repeat;
}

.adddish.active {
	width: 50px;
	height: 50px;
	float: left;
	background: url("../img/dishDetails_add0.png") no-repeat;
}

.adddish.active:active {
	background: url("../img/dishDetails_active1.png") no-repeat;
}

.reducedish {
	width: 50px;
	height: 50px;
	float: left;
	background: url("../img/dishDetails_reduce1.png") no-repeat;
}

.reducedish.active {
	width: 50px;
	height: 50px;
	float: left;
	background: url("../img/dishDetails_reduce0.png") no-repeat;
}

.reducedish.active:active {
	background: url("../img/dishDetails_active.png") no-repeat;
}

.orderdishbtn {
	width: inherit;
	background-color: #fe8302;
	height: 45px;
	border: 0;
	border-radius:5px;
	margin: 15px 10px 15px 10px;
	color: #fff;
	line-height: 45px;
	font-size: 18px;
}

.changedtlbtn {
	background-color: #fe8302;
	height: 45px;
	width: 50px;
	border: 0;
	border-radius:5px;
	margin: 5px;
	color: #fff;
	line-height: 45px;
	font-size: 14px;
}

.content .dishdtlbtns {
	background-color: #fff;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	margin-top: 10px;
	padding: 10px 20px 10px 20px;
	color: #999;
}




/************************ 订单详情样式  ************************/
.ordertitle {
	background: transparent;
	font-size: 24px;
	color: #000;
	line-height: 60px;
	text-align: center;
}

.orderdtl {
	background-color: #fff;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	margin-bottom: 7px;
	padding: 5px 20px 10px 20px;
}

.orderdtl .orderdtltitle {
	padding-left: 10px;
	line-height: 40px;
	font-size: 20px;
	border-bottom: 2px solid #eee;
}

.orderdishnm {
	line-height: 20px;
	font-size: 18px;
	color: #999;
}

.ordertotalp {
	float: left;
	line-height: 50px;
	padding-left: 20px;
}

.orderdtlbtn {
	background-color: #fe8302;
	height: 55px;
	border: 0;
	color: #fff;
	font-size: 20px;
}




/************************ 下方菜单样式  ************************/
.bar-tab .tab-item .icon.order {
	background: url("../img/noopsyche_order.png") no-repeat;
}

.bar-tab .tab-item.active .icon.order, .bar-tab .tab-item:active .icon.order {
	background: url("../img/noopsyche_order1.png") no-repeat;
}

.bar-tab .tab-item .icon.noopsyche {
	background: url("../img/noopsyche_noopsyche.png") no-repeat;
}

.bar-tab .tab-item.active .icon.noopsyche, .bar-tab .tab-item:active .icon.noopsyche {
	background: url("../img/noopsyche_noopsyche1.png") no-repeat;
}

.bar-tab .tab-item .icon.history {
	background: url("../img/noopsyche_history.png") no-repeat;
}

.bar-tab .tab-item.active .icon.history, .bar-tab .tab-item:active .icon.history {
	background: url("../img/noopsyche_history1.png") no-repeat;
}

.bar-tab .tab-item .icon.discovery {
	background: url("../img/noopsyche_discovery.png") no-repeat;
}

.bar-tab .tab-item.active .icon.discovery, .bar-tab .tab-item:active .icon.discovery {
	background: url("../img/noopsyche_discovery1.png") no-repeat;
}

.tab-item .menudiv, .tab-item .discoverydiv, .tab-item .historydiv {
	width: 70px;
	height: 40px;
	float: left;
	position: absolute;
	bottom: 59px;
	background-color: #fff;
	border: 1px solid #fe8302;
	border-bottom: 0;
	color: #fe8302;
	text-align: center;
	line-height: 40px;
	font-size: 14px;
}

.tab-item .menudiv:active, .tab-item .discoverydiv:active, .tab-item .historydiv:active {
	background-color: #eee;
}

.loadmore {
	height:60px;
	line-height: 60px;
	color: #999;
	font-size: 18px;
	text-align: center;
	margin-bottom: 10px;
}
.loadmore:active {
	background-color: #ccc;
	color: #fff;
}




/************************ 饭店详情样式  ************************/
.btn.pull-left.resback {
	border:0;
	width:50px;
	background: url("../img/restaurant_back1.png") no-repeat;
	outline: 0;
}

.btn.pull-right.resmore {
	border:0;
	width:50px;
	background: url("../img/restaurant_more.png") no-repeat;
	outline: 0;
}

.resdiv {
	background-color: #fff;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	margin-bottom: 7px;
	padding: 5px 20px 10px 20px;
}

.resdiv .resdivtitle {
	line-height: 27px;
	font-size: 16px;
	border-bottom: 2px solid #eee;
	margin-bottom: 10px;
}

.resdiv .resinfo {
	width:100%;
	padding-left: 5px;
}

.resinfo .resinfotext {
	float: left;
	width: 50%;
	height: auto;
	font-size: 13px;
	line-height: 20px;
}

.resinfo img {
	width: 45%;
	height:90px;
	margin-left: 10px;
	margin-right: 0;
	float: left;
}

.resdiv .rescommdishlist {
	overflow: auto;
	white-space: nowrap;
}

.rescommdishlist .rescommdish {
	float: left;
	width: 90px;
	margin-right: 10px;
	font-size: 14px;
	line-height: 17px;
	display: inline;
}

.rescommdishlist .rescommdish:active {
	background-color: #eee;
}

.rescommdishlist .rescommdish img {
	width: 90px;
	height: 70px;
}

.reslisttable td {
	padding-right: 10px;
}

.resdiv .resmap {
	border: 1px solid #999;
}




/************************ 全部订单样式  ************************/
.allorderlistbg {
	background-color: #fff;
	border-bottom: 1px solid #ddd;
	margin-bottom: 5px;
	padding: 10px 15px 5px 15px;
}

.allorderinfo {
	border-bottom: 1px solid #999;
}

.allordername {
	font-size: 18px;
	line-height: 22px;
}

.allordertotalprice {
	font-size: 14px;
	line-height: 22px;
	color: #555;
}

.allorderbtm {
	width: 100%;
	height: 30px;
	margin-top: 5px;
}

.allorderdate {
	font-size: 13px;
	width: 150px;
	float: left;
	display: inline;
	margin-top: 10px;
	color: #999;
}

.nopaybtn {
	height: 30px;
	width: 80px;
	border-radius: 3px;
	background-color: #fe8302;
	color: #fff;
	text-align: center;
	font-size: 18px;
	float: right;
	border: 0;
	display: inline;
}

.paybtn {
	height: 30px;
	width: 80px;
	border-radius: 3px;
	background-color: #ccc;
	color: #fff;
	text-align: center;
	font-size: 18px;
	float: right;
	border: 0;
	display: inline;
}





/************************ 智能点餐首页样式  ************************/
.smarthomediv {
	width: 100%;
	background-color: #fff;
	border-bottom: 1px solid #ddd;
	font-size: 20px;
	padding: 5px 20px 5px 20px;
}

.smarthomediv .smartdiv {
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 10px;
	height: 60px;
	line-height: 50px;
	border-bottom: 1px solid #eee;
}

.smarthomebtn {
	width: 150px;
	height: 50px;
	color: #fff;
	text-align: center;
	border: 0;
	line-height: 40px;
	background-color: #fe8302;
	margin-top: 30px;
	border-radius: 3px;
}

.smartdiv .smcbbox td {
	width: 180px;
	height: 30px;
	font-size: 18px;
	color: #999;
}

.smartdiv .smcbbox img {
	width: 20px;
	margin-left: -25px;
}

.smartdiv .smcbbox .smartdivcb {
	visibility: hidden;
}


/************************ 首页样式  ************************/
.mpbg {
	width: 100%;
	height: 70%;
	z-index: 1;
}

.mpdingding {
	position: absolute;
	z-index: 999;
	width: 60%;
	margin-top: 14%;
	right: 0;
}

.mpcontent {
	background-color: rgba(255,255,255,0.5);
	position:relative;
	z-index: 999;
	color: #ff6600;
	text-align: center;
}

.mpbottom {
	z-index: 1;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 5%;
}

.mpversion {
	z-index: 999;
	position: absolute;
	bottom: 0;
	text-align: center;
	width: 100%;
	color: #fff;
	line-height: 25px;
}

.mprefresh {
	width: 130px;
	height: 50px;
	border: 1px solid #ccc;
	background-color:#fff;
	color: #ff6600;
	text-align: center;
	line-height: 45px;
	margin-top: 15px;
	font-size: 20px;
}

.mprefresh:active {
	color: #fff;
	background-color: #ff6600;
}


/************************ 弹出框样式  ************************/
.blk {
	width: 90%;
	position: relative;
	margin: 0 auto;
	background-color: #fff;
	padding: 20px;
}

.confirmcountbtn {
	width: 100%;
	background-color: #fe8302;
	height: 45px;
	border: 0;
	border-radius:5px;
	margin: 15px 0 15px 0;
	color: #fff;
	line-height: 45px;
	font-size: 18px;
}

.confirmdelbtn {
	width: 100%;
	background-color: #444;
	height: 45px;
	border: 0;
	border-radius:5px;
	margin: 0;
	color: #fff;
	line-height: 45px;
	font-size: 18px;
}

.blkclose {
	position: relative;
	text-align: right;
	height: 40px;
	width:100%;
	margin-top: -20px;
	margin-right: -20px;
}

/************************ 后台登录样式  ************************/

.bgpic {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: -999;
}

.bgpic img {
	width: 100%;
	height: 100%;
	border: 0;
	z-index: -999;
}

.mngloginblk {
	width: 50%;
	color: #fff;
	font-size: 20px;
}

.mngloginipt {
	border: 1px solid #FEE6BF;
	border-radius: 15px;
	height:30px;
	color: #fe8302;
	outline: none;
}

.mngloginbtn {
	border: 0;
	background-color: #FEE6BF;
	color: #fe8302;
	width: 150px;
	height: 45px;
	font-size: 20px;
	margin-top: 5%;
	outline: none;
}

.mngloginbtn:active {
	background-color: #fe8302;
	color: #fff;
}

.mnglogina {
	text-decoration: underline;
	color: #B15D02;
}

.mnglogina:active {
	color: #fe8302;
}

/************************ 后台注册样式  ************************/

.restitle {
	width:100%;
	text-align:left;
	font-size: 40px;
	color: #fe8302;
	margin-top:40px;
}

.restable {
	margin: 0 auto;
	margin-top: 30px;
	font-size: 22px;
	color: #000;
}

.restable tr {
	height: 40px;
}

.resinput {
	border: 1px solid #FEE6BF;
	border-radius: 3px;
	height: 30px;
	width: 100%;
	background-color: #FEF9EF;
}

.uglyupl {
	width: 95%;
	border: 0;
	height:30px;
	margin-top:-30px;
	filter:alpha(opacity=0);
    -moz-opacity:0;
    opacity:0; 
    cursor: hand;
}

.uplbtn {
	border: 1px solid #FEE6BF;
	height: 30px;
	line-height:28px;
	width: 95%;
	background-color: #FEF9EF;
	margin-top: 10px;
	text-align: center;
	font-size: 18px;
	font-family: serif;
	color: #fe8302;
	cursor: hand;
}

.uglyupl1 {
	width: 47%;
	border: 0;
	height:25px;
	margin-top:-25px;
	filter:alpha(opacity=0);
    -moz-opacity:0;
    opacity:0; 
    float: right;
    cursor: hand;
}

.uplbtn1 {
	border: 1px solid #FEE6BF;
	height: 25px;
	line-height:25px;
	width: 47%;
	background-color: #FEF9EF;
	margin-top: 5px;
	text-align: center;
	font-size: 18px;
	font-family: serif;
	float: left;
	font-size: 14px;
	color: #fe8302;
	cursor: hand;
}

.saveresinfo{
	width: 100%;
	height: 45px;
	border: 1px solid #FEE6BF;
	border-radius: 5px;
	background-color: #fe8302;
	color: #fff;
}